@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full;
  }
  
  body {
    @apply bg-background dark:bg-dark-background text-text-main dark:text-dark-text-main;
    font-family: Roboto, sans-serif;
  }

}
